#include "Base.xcconfig"

APP_VERSION                     = $(APP_VERSION)
BUILD_NUMBER                    = $(BUILD_NUMBER)

APP_IDENTIFIER                  = $(STAGE_IDENTIFIER)
APP_BUNDLE_DISPLAYNAME          = $(STAGE_BUNDLE_DISPLAYNAME)
APP_BUILD_DEFINITION            = $(STAGE_BUILD_DEFINITION)
APPLINK_DOMAIN                  = $(STAGE_APPLINK_DOMAIN)

CODE_SIGN_IDENTITY              = Apple Development

DEVELOPMENT_TEAM                = $(STAGE_IDENTIFIER_PREFIX)

GCC_PREPROCESSOR_DEFINITIONS    = $(inherited) $(APP_BUILD_DEFINITION)
OTHER_SWIFT_FLAGS               = $(inherited) -D$(APP_BUILD_DEFINITION)

CODE_SIGN_STYLE                 = Automatic

KAKAO_APP_KEY                   = $(STAGE_KAKAO_APP_KEY)
